# Ignore IDEA projects
#######
**/.idea
**/*.iml
.idea_modules
.idea

# Ignore Play! working directory
######################
/project/project
/project/target
target
app/modules/*/project/project
app/modules/*/target

# Ignore byproducts of build
**/*.js.map

# Misc
######
/bin
/logs
*.log
/tmp

**/.ivy
**/.boot

.classpath
.settings
.project
.cache

# All sources are TypeScript so we can ignore all *.js*
**/javascripts/dashboard/**/*.js*

