# IDEA
#######
**/.idea
**/*.iml
**/.idea_modules

# Ignore Play! working directory #
######################
/project/project
/project/target
target
app/modules/*/project/project
app/modules/*/target

app/assets/javascripts/**/*.js.map

# Misc
######
/bin
/logs
/tmp

