# Ignore IDEA projects
#######
**/.idea
**/*.iml
**/.idea_modules

# Ignore Play! working directory
######################
/project/project
/project/target
target
app/modules/*/project/project
app/modules/*/target

# Ignore byproducts of build
**/*.js.map

# Misc
######
/bin
/logs
/tmp

modules/admin/node_modules
.idea/libraries
.idea
/modules/dashboard/app/assets/javascripts/dashboard/ApplicationFacade.js
/modules/dashboard/app/assets/javascripts/dashboard/ApplicationFacade.js.map
/modules/dashboard/app/assets/javascripts/dashboard/abc/MediatorNames.js
/modules/dashboard/app/assets/javascripts/dashboard/abc/MediatorNames.js.map
/modules/dashboard/app/assets/javascripts/dashboard/abc/NotificationNames.js
/modules/dashboard/app/assets/javascripts/dashboard/abc/NotificationNames.js.map
/modules/dashboard/app/assets/javascripts/dashboard/abc/ProxyNames.js
/modules/dashboard/app/assets/javascripts/dashboard/abc/ProxyNames.js.map
/modules/dashboard/app/assets/javascripts/dashboard/controller/DeleteUserCommand.js
/modules/dashboard/app/assets/javascripts/dashboard/controller/DeleteUserCommand.js.map
/modules/dashboard/app/assets/javascripts/dashboard/controller/PrepModelCommand.js
/modules/dashboard/app/assets/javascripts/dashboard/controller/PrepModelCommand.js.map
/modules/dashboard/app/assets/javascripts/dashboard/controller/PrepViewCommand.js
/modules/dashboard/app/assets/javascripts/dashboard/controller/PrepViewCommand.js.map
/modules/dashboard/app/assets/javascripts/dashboard/controller/StartupCommand.js
/modules/dashboard/app/assets/javascripts/dashboard/controller/StartupCommand.js.map
/modules/dashboard/app/assets/javascripts/dashboard/model/RoleProxy.js
/modules/dashboard/app/assets/javascripts/dashboard/model/RoleProxy.js.map
/modules/dashboard/app/assets/javascripts/dashboard/model/UserProxy.js
/modules/dashboard/app/assets/javascripts/dashboard/model/UserProxy.js.map
/modules/dashboard/app/assets/javascripts/dashboard/model/enum/DeptEnum.js
/modules/dashboard/app/assets/javascripts/dashboard/model/enum/DeptEnum.js.map
/modules/dashboard/app/assets/javascripts/dashboard/model/enum/RoleEnum.js
/modules/dashboard/app/assets/javascripts/dashboard/model/enum/RoleEnum.js.map
/modules/dashboard/app/assets/javascripts/dashboard/model/vo/RoleVO.js
/modules/dashboard/app/assets/javascripts/dashboard/model/vo/RoleVO.js.map
/modules/dashboard/app/assets/javascripts/dashboard/model/vo/UserVO.js
/modules/dashboard/app/assets/javascripts/dashboard/model/vo/UserVO.js.map
/modules/dashboard/app/assets/javascripts/dashboard/view/RolePanelMediator.js
/modules/dashboard/app/assets/javascripts/dashboard/view/RolePanelMediator.js.map
/modules/dashboard/app/assets/javascripts/dashboard/view/UserFormMediator.js
/modules/dashboard/app/assets/javascripts/dashboard/view/UserFormMediator.js.map
/modules/dashboard/app/assets/javascripts/dashboard/view/UserListMediator.js
/modules/dashboard/app/assets/javascripts/dashboard/view/UserListMediator.js.map
/modules/dashboard/app/assets/javascripts/dashboard/view/components/RolePanel.js
/modules/dashboard/app/assets/javascripts/dashboard/view/components/RolePanel.js.map
/modules/dashboard/app/assets/javascripts/dashboard/view/components/UiComponent.js
/modules/dashboard/app/assets/javascripts/dashboard/view/components/UiComponent.js.map
/modules/dashboard/app/assets/javascripts/dashboard/view/components/UserForm.js
/modules/dashboard/app/assets/javascripts/dashboard/view/components/UserForm.js.map
/modules/dashboard/app/assets/javascripts/dashboard/view/components/UserList.js
/modules/dashboard/app/assets/javascripts/dashboard/view/components/UserList.js.map
