<!-- =============================================================================== -->
<!-- ================================== Role List ================================== -->
<!-- =============================================================================== -->

<div class="role-panel">

    <div class="panel-title">User Roles</div>
    <div class="selected-fullname"></div>

    <!-- User Role List -->
    <div class="role-panel-content">

        <!-- User Role List DataGrid -->
        <table id="user-role-list" class="user-role-list"></table>

    </div>

    <!-- User Role Controls -->
    <div class="controlBar">

        <!-- Full Role list -->
        <select class="role-list"><option></option></select>

        <!-- Update/Add User Button -->
        <button class="add-role-button">Add</button>

        <!-- Cancel Button -->
        <button class="remove-role-button">Remove</button>

    </div>

</div>
