<!-- =============================================================================== -->
<!-- ================================== User List ================================== -->
<!-- =============================================================================== -->

<div class="user-list-panel">
    <div class="panel-title">Users</div>
    <div class="user-total"></div>

    <div class="user-list-panel-content">

        <!-- User List DataGrid -->
        <table id="user-list" class="user-list"></table>

        <!-- User List Controls -->
        <div class="control-bar">

            <!-- Update/Add User Button -->
            <button class="new-button">Add</button>

            <!-- Delete User Button -->
            <button class="delete-button">Delete</button>

        </div>

    </div>

</div>
