@(message: String)

@main("Welcome to Play") {

@*
    @play20.welcome(message)
*@


    <div class="application">

        <div class="title">
            <span class="name">Employee Admin</span>
            <span class="category">PureMVC TypeScript standard framework demo</span>
        </div>


            <!-- =============================================================================== -->
            <!-- ================================== User List ================================== -->
            <!-- =============================================================================== -->

        <div class="user-list-panel" id="listPanelWrapper">


        </div>





    </div>

}
